*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.nav-item {
    margin-top: 77px;
    margin-left: 0;
    gap: 4.5%;
}
.First-Item-J{
    margin-left: 7.5%;
}
.First-Item-P{
    margin-left: 10.4%;
}
.Ring-Items-Nav{
    margin-top: 0;
    margin-left: 0;
    gap: 4%;
    box-shadow: 0px 3px 8px #cccccc92;
}
.Ring-Item-Names{
   
    color: #832729;
}
.Ring-Arrows{
    color: #832729;
    margin-left: -3.5%;
    margin-bottom: 2px;
    font-size: 22px;
}
.Ring-Container{
    border: 1px solid red;
    width: 100%;
    height: 120vh;
}
.Go-To-Container{
    /* border: 1px solid black; */
    width: fit-content;
    margin-left: 7.5%;
    margin-top: 13px;
    display: flex;
    gap: 6px;

}
.Go-Home-Page-Logo{
    color: black;
    text-decoration: none;
}
.Go-Ring-Page-Logo{
    color: #832729;
    text-decoration: none;
}
.Between-Line{
    color: black;
    font-size: smaller;
    font-weight: 700;
}
.Ring-Type-Box{
    /* border: 1px solid rgba(255, 0, 0, 0.34); */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 7.5%;
    height: 10%;
    gap: 8px;

}
.Ring-Name,.Between-Line-Type-Box,.Count-Designs{
    width: fit-content;
    font-size: 20px;
    font-weight: 700;
}
.Ring-Name{
    font-size: 25px;
}
.Between-Line-Type-Box{
    font-weight: 800;
}
.Compare-Type-Box{
    /* border: 1px solid green; */
    margin-left: 7.5%;
}
.Compare-Box{
    border: 1px solid rgba(128, 128, 128, 0.763);
    /* margin-left: 7.5%; */
    width: 12rem;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    float: left;
    border-radius: 5px;
}
.BEST-SELLER-BOX{
    /* float: right; */
    border: 1px solid rgba(128, 128, 128, 0.763);
    margin-left:auto;
    margin-right:6.2%;
    width: 15rem;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
}
.SELLER-Arrow{
    color: #8327299d;
    font-size: 30px;
}
.Compare-Box:hover{
    cursor: no-drop;
}
.Compare-Title{
    color: rgba(128, 128, 128, 0.832);
    font-size: 15px;
    font-weight: 700;
}
.Seller-Title{
    color: #832729;
    font-size: 14px;
    font-weight: 700;
    /* width: 100%; */
}
.Compare-Arrow{
    color: #832729;
    width: 23px;
    height: 23px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Show-Rings-Box {
    border: 1px solid pink;
    width: 87%;
    height: fit-content;
    margin-left: 7%;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.8%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Ring-Box{
    border: 1px solid rgba(215, 215, 215, 0.599);
    flex: 1 1 250px;
    /* width: 20%;
    height: 60Svh; */
}
.Ring-Img-Box{
    /* border: 1px solid green; */
    width: 100%;
    height:68% ;
}
.Compare-Img-Box{
    border: 1px solid yellow;
    margin-left: .5%;
    margin-top: .5%;
    position: absolute;
    width: 37px;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Add-Img-Box{
    border: 1px solid rgb(34, 255, 0);
    position: absolute;
    width: 37px;
    height: 5%;
    margin-left: 17.2%;
}
.Finger-Style{
    width: 100%;
    height: 100%;
}
.Compare-Arrow-Img{
    color: #832729;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Img-Info-Box{
    border-top: 1px solid rgba(154, 154, 154, 0.911);
    width: 100%;
    /* height: 110px; */
    height: 160px;
}
.Itm-Stock{
    /* border: 1px solid red; */
    width: fit-content;
    margin-top: 2%;
    margin-left: 3%;
}
.Title-Stock{
    color: red;
    font-size: 10px;
}
.Card-Title{
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .5px;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: none;
    /* white-space: nowrap; */
}
.Card-Price{
    margin-bottom: 2%;
    margin-left: 3%;
}
.Doller,.Price-Rate{
    font-size: 14px;
    font-weight: 600;
   
    /* margin-top: 3%; */
    
    text-transform: uppercase;
}
.Gender-Name{
    font-size: 12.5px;
    margin-left: 3%;
}
.Type-Of-Ring{
    font-size: 12.5px;
    margin-left: 3%;
}
.Between-Line-Gender{
    margin-left: 1%;
    /* margin-top: 2.7%; */
}
.Explore-Box{
    border: 1px solid black;
    width: 93%;
    height: 40px;
    color: black;
    font-size: 13px;
    margin-left: 3%;
    margin-top: 2.7%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}
.Explore-Box:hover{
    transition: .3s;
    background-color: #832729;
    color: white;
}
