/* Reset some default styles */
*{
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}
.first-container{
    /* border: 2px solid rgb(106, 0, 255); */
    width: 100%;
    height: 110vh;
    overflow: hidden;
}
.container{
    /* overflow: hidden; */
    position: fixed;
    /* border: 2px solid red; */
    width: 100%;
    height: 10.5vh;
    display: flex;
    flex-direction: row-reverse;
    background-color: #f2e9e9;
    z-index: 1;
    
}
.search-container {
    /* border:2px solid #1e1919; */
    display: flex;
    position: absolute;
    left: 14%;
    border-radius: 5px;
    top: 22%;
}

#search {
    border: none;
    outline: none;
    padding: 14px;
    font-size: 14px;
    width: 53vw;
    color: #832729;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
}


.logo-container {
    display: flex;
    gap: 10px;
}

.logo-container img {
    max-width: 40px;
    max-height: 40px;
}
.logo{
    position: absolute;
    left: 6%;
    top: 32%;
    font-size: 26px;
    color: #832729;
}
.top-logo{
    position: absolute;
    top: 19%;
    left: 72%;
    font-style: normal;
    color: #832729;
}
.store-l{
    text-align: center;
    font-size: 32px; 
    font-style: normal;
}
.logo-name{
    font-size: 14px;
    position: relative;
    bottom: 12px;
    color: #832729;
}
.top-logo2{
    position: absolute;
    top: 19%;
    left: 78%;
    font-style: normal;
    color: #832729;
}
.top-logo3{
    position: absolute;
    top: 19%;
    left: 84%;
    font-style: normal;
    color: #832729;
}
.top-logo4{
    position: absolute;
    top: 19%;
    left: 90%;
    font-style: normal;
    color: #832729;
}
/* nav item */
.nav-item{
    width: 100%;
    height: 7.5vh;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
   
   
}
.nav-item-name{
    position: relative;
    top: 18px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-left: 11.6%;
}
.one-item{
    margin-left: 5.8%;
}
.img-slide{
    /* border: 2px solid green; */
    width: 200%;
    height:90vh;
   
    /* overflow:auto; */
}
.img-box1, .img-box2{
    /* border: 2px solid blue; */
    width:50%;
    height:100%;
   
}

.img-box1{
    float:left;
    position: relative;
    left: 0;
}
.img-box2{
    float:right;
    position: relative;
}

.front-img1, .front-img2{
    width:100%;
    height:100%;
   
}

/* arrow style */
.swipe-L{
    font-weight: 0px;
    position: absolute;
    color: rgb(151, 45, 0);
    text-align: center;
    font-size: 30px;
    padding: 0.9%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.601);
    
    
}
.swipe-R{
    font-weight: 0px;
    position: absolute;
    color: rgb(151, 45, 0);
    text-align: center;
    font-size: 30px;
    padding: 0.9%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.601);
}
.swipe-L:hover, .swipe-R:hover{
    color: white;
    background-color: #832729ae;
}

.swipe-L{
    left: 0.5%;
    top: 60%;
}
.swipe-R{
    right: 0.5%;
    top: 60%;
}
/* second-page */
.shop-category{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid rgb(208, 0, 255); */
}  
.shop-c{
    font-size: 40px;
    text-align: center;
    margin-top: 5.5%;
    color: #832729;
}
.shop-G{
    margin-top: 5.5%;
}
.instruction{
    text-align: center;
    color:black;
    font-size: 13px;
}
.line{
    width: 91%;
    height: 60px;
    margin-top: -1%;
}
.image-lists{
    /* border: 1px solid red; */
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: -2%;
    flex-wrap: wrap;
    transition: 1s;
}

.list-items{
    border: 1px solid rgb(176, 176, 176);
    color: black;
    height: 243px;
    margin: 1.8%;
    flex: 1 1 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    transition: 1s;
}
.list-items:hover{
    box-shadow: 0px 3px 4px #ffa7a892;
}
.items-background{
    width: 150px;
    height: 150px;
    border: 1px solid rgb(185, 185, 185);
    /* background-color: black; */
    border-radius: 50%;

}
.shop-category-images{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.card-title{
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
   
}
.card-title-name{
    text-align: center;
    color: #832729;
    font-size: 18px;
   
}
/* .card-title-name:hover{
    text-align: left;
} */
.title-shope-now{
    text-align: center;
    font-size: 13px;
    margin-top: 8%;
    font-weight: 500;
    transition: 0.3s;
}
.Now{
    margin-right: 20%;
}
.items-arrow{
    font-size: 17px;
  position: relative;
  left: 4%;
  transition: 0.3s;
}
/* Shop by gender */

.image-lists-Gender{
    margin-top: -1%;
    width: 87%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5%;
    transition: 1s;

}
.Gender-List{
    transition: 1s;
    border: 1px solid rgba(182, 182, 182, 0.711);
    height: fit-content;
    flex: 1 1 300px;
    text-decoration: none;
    color: black;
   
    /* margin: 1%; */

    /* display: inline-grid; */
}
.Gender-List:hover{
    box-shadow: 0px 3px 4px #ffa7a892;
}
.Gender-category{
    height: auto;
}
.Gender-images{
    width: 100%;
   
}
.Gender-name{
    /* border: 1px solid red; */
    width: 100%;
    height: 5vh;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 1s;
}
.title-name-Gender{
    width: 0;
    color: #832729;
    font-size: 18px;
    float: left;
    margin-left: 3.5%;
    transition: 1s;
}
.shope-now-G{
    font-size: 10px;
    position: relative;
    left: 70%;
    margin-right: 1.5%;
    transition: 1s;
}
.title-arrow{
    font-size: 18px;
    position: relative;
    left: 78%;
    transition: 1s;
}
/* fourth page */
/* Occasion-style */
.Occasion-category{
    height: fit-content;
}
.Occasion-name{
    background-color: white;
}
/* .title-name-Occasion{
    width: fit-content;
}
.shope-now-Coccasion{
    left: 0%;
} */

.Occasion-List{
width: 100%;
}
/* End */
.End-category{
    border: 1px solid red;
    height: 85vh;
    margin-top: 5.5%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.End-info{
    background-color: #f2e9e9;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.fit-info-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    margin-top: 5%;
    /* border: 1px solid rgb(89, 0, 255); */
    width: 100%;
    height: 92%;
    border: 1px solid black;
    width: 87%;
    height: fit-content;
}
.info-box {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: fit-content;
    flex: 1 1 200px;
}
.information-link-head{
    color: #832729;
    font-size: 21px;
}
.Track-Your-Order{
    margin-top: 13%;
}
.Go-info-link{
    font-size: 18px;
    color: black;
 
    margin-top: 12%;
    text-decoration: none;
}

.Go-info-link:hover{
    text-decoration: underline;
    transition: 0.5s;
}
.Track-Your-Order{
    margin-top: 13%;
}
