/* Reset some default styles */
*{
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}
.first-container{
    /* border: 2px solid rgb(106, 0, 255); */
    width: 100%;
    height: 110vh;
    overflow: hidden;
}
.container{
    /* overflow: hidden; */
    position: fixed;
    /* border: 2px solid red; */
    width: 100%;
    height: 10.5vh;
    display: flex;
    flex-direction: row-reverse;
    background-color: #f2e9e9;
    z-index: 1;
    
}
.search-container {
    /* border:2px solid #1e1919; */
    display: flex;
    position: absolute;
    left: 14%;
    border-radius: 5px;
    top: 22%;
}

#search {
    border: none;
    outline: none;
    padding: 14px;
    font-size: 14px;
    width: 53vw;
    color: #832729;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
}


.logo-container {
    display: flex;
    gap: 10px;
}

.logo-container img {
    max-width: 40px;
    max-height: 40px;
}
.logo{
    position: absolute;
    left: 6%;
    top: 32%;
    font-size: 26px;
    color: #832729;
}
.top-logo{
    position: absolute;
    top: 19%;
    left: 72%;
    font-style: normal;
    color: #832729;
}
.store-l{
    text-align: center;
    font-size: 32px; 
    font-style: normal;
}
.logo-name{
    font-size: 14px;
    position: relative;
    bottom: 12px;
    color: #832729;
}
.top-logo2{
    position: absolute;
    top: 19%;
    left: 78%;
    font-style: normal;
    color: #832729;
}
.top-logo3{
    position: absolute;
    top: 19%;
    left: 84%;
    font-style: normal;
    color: #832729;
}
.top-logo4{
    position: absolute;
    top: 19%;
    left: 90%;
    font-style: normal;
    color: #832729;
}
/* nav item */
.nav-item{
    width: 100%;
    height: 7.5vh;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
   
   
}
.nav-item-name{
    position: relative;
    top: 16px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-left: 11.6%;
}
.one-item{
    margin-left: 5.8%;
}
.img-slide{
    border: 2px solid green;
    width: 200%;
    height:90vh;
   
    /* overflow:auto; */
}
.img-box1, .img-box2{
    /* border: 2px solid blue; */
    width:50%;
    height:100%;
   
}

.img-box1{
    float:left;
    position: relative;
    left: 0;
}
.img-box2{
    float:right;
    position: relative;
}

.front-img1, .front-img2{
    width:100%;
    height:100%;
   
}

/* arrow style */
.left-side, .right-side{
    font-weight: 0px;
    position: absolute;
    color: rgb(151, 45, 0);
    text-align: center;
    font-size: 21px;
    padding: 1%;
    border-radius: 50%;
    background-color: white;
    z-index: 2;
}
.left-side:hover, .right-side:hover{
    color: white;
    background-color: #832729;
}
.right-side{
    right: 1.5%;
    top: 60%;
    
}
.left-side{
    left: 1.5%;
    top: 60%;
}
/* second-page */
.shop-category{
    width: 100%;
    height: 100vh;
    border: 2px solid rgb(208, 0, 255);
}  
.shop-c{
    font-size: 40px;
    text-align: center;
    margin-top: 5.5%;
    color: #832729;
}
.instruction{
    text-align: center;
    color:black;
    font-size: 13px;
}
