@media screen and (max-width:1052px  ) {
    .swipe-L ,.swipe-R{
        display: none;
       
    }
    
    }

    @media screen and (max-width:1025px  ) {
        .container,.nav-item-name{
            display: none;
        }
    }
    @media screen and (max-width:768px  ) {
      
        .container,.nav-item-name{
            display:flex;
        }
        .container{
            flex-wrap: wrap;
            height: fit-content;
        }
        .custome-bar{
            display: block;
            width: fit-content;
            height: fit-content;
            margin-left: 2.5%;
            margin-top: 2.5%;
        }
        .menu-items{
            border-radius: 5px;
            font-size: 32px;
            color: #832729;;
        }
        .Logo-Shop {
            margin-top: 2.5%;
            margin-left: -2%;
        }
        .contact-top-logo{
            display: none;
        }
        .search-container {
            display: none;
        }
        .search-container-two{
            left: 1.4%;
            width: 97.6%;
            margin-top: 1%;
            margin-bottom: 10px;
            display: flex;
            position: relative;
        }
        .nav-link-logos {
            gap: 15%;
            width: 137px;
            margin-top: 2%;
            margin-left: auto;
        }
        .top-logo {
            font-size: 25px;
        }
        .logo-name {
            display: none;
        }
        .img-slide {
            margin-top: 3%;
        }    
        .nav-item {
            display: none;
        }
        .shop-c {
            font-size: 18px;
        }
        .instruction {
            font-size: 14px;
            margin-top: -1%;
        }
        .list-items {
            height: 228px;
        }
        .image-lists {
            width: 93%;
           
        }
        .title-arrow {
            left: 73%;
        }
        /* .kid-arrow{
            left: 81%;
        } */
        .The-Party-Name{
            width: fit-content;
        }
        .shope-now-Coccasion-Everdy{
            width: fit-content;
        }
        .shope-now-G-kid{
            font-size: 13px;
            left: 10%;
        }
        .title-arrow-theParty{
            left: 22%;
        }
        .title-name-Gender {
            font-size: 16px;
        }
         .front-img1{
            margin-top: 100px;
        }
    }
