@media screen and (max-width:1052px  ) {
    .swipe-L ,.swipe-R{
        display: none;
       
    }
    
    }

    @media screen and (max-width:1025px  ) {
        .container,.nav-item-name{
            display: none;
        }
    }
    @media screen and (max-width:768px  ) {
       
        .container,.nav-item-name{
            display:flex;
        }
        .container{
            flex-wrap: wrap;
            height: fit-content;
        }
        .custome-bar{
            display: block;
            width: fit-content;
            height: fit-content;
            margin-left: 2.5%;
            margin-top: 2.5%;
        }
        .menu-items{
            border-radius: 5px;
            font-size: 32px;
            color: #832729;;
        }
        .Logo-Shop {
            margin-top: 2.5%;
            margin-left: -2%;
        }
        .contact-top-logo{
            display: none;
        }
        .search-container {
            display: none;
        }
        .search-container-two{
            left: 1.4%;
            width: 97.6%;
            margin-top: 1%;
            margin-bottom: 10px;
            display: flex;
            position: relative;
        }
        .nav-link-logos {
            gap: 15%;
            width: 137px;
            margin-top: 2%;
            margin-left: auto;
        }
        .top-logo {
            font-size: 25px;
        }
        .logo-name {
            display: none;
        }
        .img-slide {
            margin-top: 3%;
        }    
        .nav-item {
            display: none;
        }
        .shop-c {
            font-size: 18px;
        }
        .instruction {
            font-size: 14px;
            margin-top: -1%;
        }
        .list-items {
            height: 228px;
        }
        .image-lists {
            width: 93%;
           
        }
        .title-arrow {
            left: 73%;
        }
        /* .kid-arrow{
            left: 81%;
        } */
        .The-Party-Name{
            width: fit-content;
        }
        .shope-now-Coccasion-Everdy{
            width: fit-content;
        }
        .shope-now-G-kid{
            font-size: 13px;
            left: 10%;
        }
        .title-arrow-theParty{
            left: 22%;
        }
        .title-name-Gender {
            font-size: 16px;
        }
        .front-img1{
            margin-top: 100px;
        }
        .fit-info-box {
            width: 92%;
            margin-top: 8%;
        }
        .info-box {
            border-bottom: 1px solid rgba(0, 0, 0, 0.316);
            /* border: 1px solid black; */
            flex:none;
            width: 100%;
        }
        .End-category {
            margin-top: 9%;
            height: 72vh;
            background-color: #f2e9e9;
        }
        .link-Head-Width{
            width: fit-content;
        }
        /* .info-box1,.info-box2,.info-box3{
            flex-direction: row;
            align-items: center;
        } */
        .Scroll-Links-Add{
            display: block;
            width: fit-content;
            height: fit-content;
            color:#832729;
            font-size: 20px;
            font-weight: 100;
            margin-left: auto;
            margin-top: -5.5%;
            text-decoration: none;
            font-family: none;
            background-color: none;
        }
        .Scroll-Links-Remove{
            width: fit-content;
            height: fit-content;
            color:#832729;
            font-size: 20px;
            font-weight: 100;
            margin-left: auto;
            margin-top: -6.2%;
            margin-right: 1.5px;
            text-decoration: none;
            font-family: system-ui;
            background-color: none;
        }
        .Track-Your-Order {
            margin-top: 3%;
        }
        .Go-info-link {
            width: fit-content;
            font-size: .9em;
            margin-top: 3%;
            margin-left: 2%;
            /* display: none; */
            
        }
        .Show-First-Box {
            width: 100%;
            height: 100%;
            /* border: 2px solid red; */
            display: none;
        }
        .Show-First-Box-Clicked{
            display: flex;
        }
        .Show-Second-Box{
            width: 100%;
            height: 100%;
            /* border: 2px solid red; */
            display: none;
        }
        .Show-Second-Box-Clicked{
            display: flex;
        }
        .Show-Third-Box{
            width: 100%;
            height: 100%;
            /* border: 2px solid red; */
            display: none;
        }
        .Show-Third-Box-Clicked{
            display: flex;
        }





      
        .information-link-head {
            font-weight: 100;
            font-size: 1rem;
            line-height: 3.5;
        }
        /* .Track-Your-Order {
            display: block;
        } */
        .Go-FaceBook {
            font-size: 30px;
            margin-left: 0%;
        }
        .Go-InstaGram {
            margin-left: 1%;
        }
        .Follow-Us{
            margin-top: 0%;
        }
        .info-box4{
            border: none;
        }
        .store-timing {
            margin-top: 0%;
        }
        .row-Pbs-page-bottom {
            width: 99%;
            /* padding-bottom: 35px; */
        }
        .First-Add-Remove{
            display: none
        }
        .First-Remove-Add{
            display: block;
        }
        /* .First-Add-Remove-Add{
            display: block;
        } */




       
    }
